<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Pricing">
  <parameter name="BrowserName" value="Desktop"/>
  <parameter name="LoBName" value="Pricing"/>
  <parameter name="TestScenario_RepositoryFileIndex" value="TCS_Return\TestScenarioSuite\CalculationScanerio\0003_ScenarioSuite.xlsx"/>
  <parameter name="TestData_RepositoryFile" value="TCS_Return\TestDataSuite\CalculationData\0002_TestDataSuite.xlsx"/>
  <test thread-count="2" name="BDB_Login_001" verbose="2">
    <parameter name="ScriptReference" value="BDBLoginFlow"/>
    <parameter name="ScenarioID" value="BDB_Login_001"/>
    <parameter name="Description" value=""/>
    <parameter name="Product" value="Positive"/>
    <parameter name="Module" value="BDB"/>
    <parameter name="ScenarioUID" value="BDB_Login_001"/>
    <classes>
      <class name="testRunner.TestExecutionSuite"/>
    </classes>
  </test> <!-- BDB_Login_001 -->
</suite> <!-- Pricing -->
